<section class="nl-auth">
    <div class="nl-auth-box">
        <img src="img/logoauth.png" alt="" class="logo-auth">
        <div class="choose-auth-title">Оберіть спосіб авторизації</div>
        <div class="auth-method">
            <div class="mob-attachments-title">Мобільні додатки</div>
            <a href="javascript:void(0)" class="app-store"></a><a href="javascript:void(0)" class="google-play"></a>
            <div class="mob-attachments-title">Соціальні мережі</div>
            <a class="fb-auth"></a>
            <a class="googleplus-auth"></a>
        </div>
        <div class="card-auth-title">або за номером картки</div>
        <div class="card-auth-box">
            <input type="text" placeholder="№ картки">
            <a href="javascript:void(0)" class="card-auth-enter" alt="">Вхід</a>
        </div>
        <a href="javascript:void(0)" class="no-auth">Увійти без авторизації</a>
    </div>
    <a href="javascript:void(0)" class="auth-conditions">Умови використання</a>
    <div class="auth-copy">© Новая Линия 2003-2016</div>
</section>